<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @feed.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @feed.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Moderation:</strong>
  <%= @feed.moderation %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
