<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="text-center">
        <h4>Вы искали: <%= params[:q] %></h4>
        <% @products.each do |product| %>
            <div class="col-xs-6 col-sm-4 col-lg-3  product">
              <div class="row size1">
                <%= link_to product_path(product.id) do %>
            <%= image_tag product.main_image(:medium) %><br>
            <%= product.name %><br>
            <strong>Размер:</strong> <%= product.size %>
        <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  <div class="col-sm-2">
    <div class="row">
    <p class="size4">Популярное</p>
    <section class="autoplaydr">
      <% @prs.each do |product| %>

            <%= link_to product_path(product.id), :class => 'size2' do %>
                <%= image_tag product.main_image(:medium) %>
                <p class="size3 text-center"><%= product.name %></p>
            <% end %>

      <% end %>
    </section>
    </div>
  </div>
</div>
</div>
