<div class="container">
<div class="row">
<h4 class="form_name">Повторная инструкция по входу</h4>
<div class="col-12">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class="form-group justify-content-md-center d-flex flex-column flex-md-row align-items-center">
  <div class="col-12 col-md-2">
    <%= f.label :email, class:"control-label" %><br />
    </div>
  <div class="col-12 col-md-6">
    <%= f.email_field :email, autofocus: true, class:"form-control form" %>
  </div>
  </div>

  <div class="form-group justify-content-md-center d-flex flex-column flex-md-row align-items-center actions">
    <div class="col-12 col-md-4">
      <%= f.submit "Получить инструкцию по входу повторно",class:"btn button_form" %>
    </div>

  </div>
<% end %>
</div>
<%= render "sellers/shared/links" %>
</div>
</div>