<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-4">
<!-- меню -->
<div class="ul1">
<ul class="ul2">
<% @categories.each do |category| %>
<li class="li1">
<%= category.name %>
<ul >
<% category.twocategories.each do |twocategory| %>
<li class="li2 imgcat three">
<p class="col-sm-4"><%= image_tag twocategory.image.url %></p>
<p class="col-sm-4"><%= twocategory.name %></p>
<p class="col-sm-4"><%= link_to 'Изменить', edit_twocategory_path(twocategory), :type => 'button', :class => 'btn btn3' %></p>
</li>
<% end %>
</ul>
</li>
<% end %>
</ul>
</div>
</div>
</div>