  
<p id="notice"><%= notice %></p>

<div class="container-fluid">
<div class="row">
  <div class="hidden-sm hidden-xs col-sm-3 ">
    <!-- меню -->
    <div class="ul1">
      <ul class="ul2">
      <li class="li1">
      <p class=""><%= @showcat.name %></p>
      <ul >
      <% @showcat.twocategories.each do |twocategory| %>
      <li class="li2">
      <p><%= link_to twocategory.name, twocategory_path( twocategory.id) %></p>
      </li>
      <% end %> 
      </ul>
      </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-9">
    <div class="text-center">
    <% @twocategory.threecategories.each do | threecategory | %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 product">
    <div class="row">
    <%= link_to threecategory_path(threecategory.id) do %>
    <%= image_tag threecategory.image.url %>
    <p class="size"><%= threecategory.name %></p> 
    <% end %>
    </div>
    </div>
    <% end %>
    </div>

  </div>
</div>
</div>
<div class="container-fluid niz1">
  <div class="row">
  <h2 class="text-center">Другие категории</h2>
  <div class="col-xs-12 ">
  <div class="row">
  <section class="auto">
  <% @sellers.each do | seller | %>
  <div>
  <%= image_tag seller.avatar(:medium) %>
  <div class="sld1 text-center"><p ><%= seller.name %></p></div>
  </div>
  <% end %>
  </section>
  </div>
  </div>
  <h2 class="text-center">Товары лучших продавцов</h2>
  <div class="col-xs-12 ">
  <div class="row">
  <section class="auto">
  <% @sellers.each do | seller | %>
  <div>
  <%= image_tag seller.avatar(:medium) %>
  <div class="sld1 text-center"><p ><%= seller.name %></p></div>
  </div>
  <% end %>
  </section>
  </div>
  </div>  
  </div>
</div>