<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twocategory.name %><br>
  <% @threecategories.each do |threecategories| %>
      <%= threecategories.name %>
      <%= link_to 'Перейти', threecategories %><%= link_to 'Изменить', edit_threecategory_path(threecategories) %> | <%= link_to 'Удалить', threecategories, method: :delete, data: { confirm: 'Вы уверины что хотите удалить ето категорию?' } %><br>
  <% end %>
</p>

<%= form_for ([@twocategory, Threecategory.new]) do |f| %>

    <div class="field">
      <%= f.label :Название %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit 'Сохранить' %>
    </div>
<% end %>

<%= link_to 'Edit', edit_twocategory_path(@threecategories) %> |
<%= link_to 'Назад', category_path(@twocategory.category) %>
