
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'login-form' }) do |f| %>

    <div class="login-wrap">

      <p class="login-img"><i class="icon_key_alt"></i></p>
      <span>Почта при регистрации:</span>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_mail"></i></span>
        <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'Почта' %>
      </div>

    <%= f.submit 'Отправить инструкцию ', class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to new_rootadmin_session_path, class: 'btn btn-info btn-lg btn-block rootReg' do %>
        <span>Войти</span>
    <% end %>

    <%= link_to new_rootadmin_registration_path, class: 'btn btn-info btn-lg btn-block rootReg' do %>
        <span>Регистрация</span>
    <% end %>
  </div>
<% end %>


