<div class="container">
<h4 class="sld01 sh16 text-center">Если у вас возникли вопросы по сайту или есть какие-то предложения, то оставляйте свои отзывы:</h4>
<%= form_for @feed, :html => {"data-parsley-validate" => true} do |f| %>

<div class="form-group col-md-offset-2">
<div class="col-sm-2 ">
<%= f.label 'Имя', class:"control-label form" %><br />
</div>
<div class="col-sm-10 ">
<%= f.text_field :name, autofocus: true, class:"form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Имя</span>".html_safe %>
</div>
</div>

<div class="form-group col-md-offset-2">
<div class=" col-sm-2 ">
<%= f.label :email, class:"control-label form" %>
</div>
<div class="col-sm-10 ">
<%= f.email_field :email, class:"form-control form", "required" => true, "type" => "email", "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите свой <span style='font-weight: bold;color:#5EBB5E;'>Email</span>".html_safe %>
</div>
</div>

<div class="form-group col-md-offset-2">
<div class="col-sm-2 ">
<%= f.label 'Телефон', class:"control-label form" %><br />
</div>
<div class="col-sm-10 ">
<%= f.telephone_field :phone, class:"form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Телфон</span>".html_safe %>
</div>
</div>


<div class="form-group col-md-offset-2">
  <div class="col-sm-2 ">
    <%= f.label 'Отзыв', class:"control-label"  %>
  </div>
  <div class="col-sm-10 ">
    <%= f.text_area :description, class:"form-control form" %>
  </div>
</div>



<div class="form-group col-md-offset-2">
<div class="col-sm-offset-2 col-sm-10 actions">
<button type="submit" class="btn btn-default">Отправить</button>
</div>
</div>
<% end %>
</div>













  <!--<form >-->

    <!--<div class="form-group col-md-offset-2 formn">-->
      <!--<div class=" col-sm-2 ">-->
      <!--<label for="name">Ваше ФИО</label>-->
      <!--</div>-->
        <!--<div class="col-sm-10 ">-->
      <!--<input type="email" class="form-control" id="name" placeholder="Введите Имя, Фамилия">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group col-md-offset-2 formn">-->
      <!--<div class=" col-sm-2 ">-->
      <!--<label for="pwd">Email:</label>-->
      <!--</div>-->
        <!--<div class="col-sm-10 ">-->
      <!--<input type="password" class="form-control" id="pwd" placeholder="Введите Email">-->
        <!--</div>-->
    <!--</div>-->
<!--<div class="form-group col-md-offset-2 formn">-->
  <!--<div class="col-sm-2 ">-->
      <!--<label for="dat">Телефон:</label>-->
  <!--</div>-->
  <!--<div class=" col-sm-10 ">-->
        <!--<input type="date" class="form-control" id="dat" placeholder="Введите Номер телефона">-->
    <!--</div>-->
<!--</div>-->
    <!--<div class="form-group col-md-offset-2 formn">-->
      <!--<div class=" col-sm-2 ">-->
      <!--<label for="message" class="control-label">Коментарии:</label>-->
      <!--</div>-->
        <!--<div class="col-sm-10 ">-->
      <!--<textarea id="message" class="form-control" rows="3" placeholder="Оставьте свой отзыв" minlength="20" maxlength="500" required="required"></textarea>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
      <!--<button type="submit" class="btn btn-default" style="float: right">Отправить</button>-->
    <!--</div>-->
  <!--</form>-->
