
<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 2500
        })
    });

</script>
<section id="carusel">
<div class="container-fluid">
  <div class="row">
    <!-- слайдер -->

    <div class="col-12 col-md-9 col-lg-10">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <% @image_count.times do %>
              <li data-target="#carouselExampleIndicators" data-slide-to=<%= @i %>></li>
              <% @i+=1 %>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <a href="/about"><%= image_tag '5.jpg', :class => 'd-block w-100' %></a>
              <div class="carousel-caption">
                <p class="sh16">StockMarket.com.ua</p>
                <p class="d-none d-md-flex text-center">О нас</p>
              </div>
          </div>
          <% @category.each do |category| %>
              <% category.category_slide_images.each do |slide| %>
                  <div class="carousel-item">
                    <%= link_to showcat_path(category.translit_url) do %>
                        <%= image_tag slide.image, :class => 'd-block w-100'  %>
                    <% end %>
                    <div class="carousel-caption">
                      <p class="sh16"><%= slide.category.name %></p>
                      <p class="d-none d-md-flex text-center"><%= slide.category.description %></p>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

    <!-- реклама продавца -->
    <div class="d-none d-md-block col-md-3 col-lg-2 text-center">
       <!-- слайдер для рекламы-товара -->

      <p class="slider_title">Новинки</p>
        <section class="home_slider_product">
          <% @products.each do |product| %>
                <%= link_to product_path(product), :class => 'slider_product_block' do %>
                    <%= image_tag product.main_image.url(:medium) %>
                    <p class="slider_product_name"><%= product.name %></p>
                <% end %>
          <% end %>
        </section>

      </div>

  </div>
</div>
</section>
<section id="center">
<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-md-9 col-lg-10">
      <h4 class="center_title">Популярные разделы сайта</h4>
      <ul class="u-list d-flex flex-wrap col-12 question-cont text-center">
        <% @twocategories.each do |twocategory| %>
            <li class="col-12 col-sm-6 col-md-4 toggle_block">
            <%= link_to showtwocat_path(twocategory.category.translit_url, twocategory.translit_url), class:'size1' do %>

                <%= image_tag twocategory.image, :class => 'img__tovar' %>
                <p class="category_name"><%= twocategory.name %></p>

            <% end %>
            </li>
        <% end %>

      </ul>
      <div class="text-center">
         <button class="all-product">
              ВСЕ КАТЕГОРИИ
          </button>
      </div>

    </div>
    <div class="d-none d-md-block col-md-3 col-lg-2 text-center">
      <!-- слайдер для рекламы-продавца -->
        <div class="slider">

        <p class="slider_title">Наши продавцы</p>
        <section class="home_slider_user">
        <% @sellers.each do | seller | %>
            <div class="slider_user">
            <%= link_to seller_products_path(seller.id), :class => 'size1' do %>
                <%= image_tag seller.avatar(:medium) %>
                <p class=""><%= seller.name %></p>
                <% end %>
            </div>
            <% end %>
        </section>
        </div>
    </div>


  </div>
</div>
</section>