<div class="container-fluid">
<div class="row">

    <div class="col-xs-12 col-sm-2">
      <div class="col-xs-6 col-sm-12">
      <h4 class="sh16">Немного о продавце:</h4>
      <p><%= image_tag @seller.avatar(:medium), class: 'fotoava2' %></p>
      <p class="sh16"><%= @seller.name %></p>
            </div>
            <div class="col-xs-6 col-sm-12">
              <h4 class="sh16">Рейтинг: +15</h4>
              <h4 class="sh16">Его группа ВК:</h4>
            </div>
    </div>
    <div class="col-xs-12 col-sm-8 text-center">
        <h4>Все его товары:</h4>
        <% @seller.products.each do |product| %>
        <div class="col-xs-6 col-sm-4 col-lg-3 product">
          <div class="row">
            <%= link_to product_path(product.id), class:'size1' do %>
                <%= image_tag product.main_image.url(:medium), title: product.name, alt: product.name %>
                <p class="size3"><%= product.name %></p>
                <p class="sld0"><%= product.size %></p>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
    <div class="hidden-xs col-sm-2 text-center">
        <p class="size4">Другие продавцы</p>
        <section class="autoplaydr">
        <% @sellers.each do | seller | %>
        <div>
        <%= link_to seller_products_path(seller.id), :class => 'size1' do %>
        <%= image_tag seller.avatar(:medium) %>
        <p class="size3"><%= seller.name %></p>
        <% end %>
        </div>
        <% end %>
        </section>
    </div>
</div>
</div>

<div class="container-fluid niz1">
  <div class="row text-center">
    <h4 class="size4">Популярные товары на сайте</h4>
    <section class="autoplayproduct hidden-xs">
      <% @products.each do |product| %>
          <div class="">
            <%= link_to product_path(product.id), :class => 'size1' do %>
                <%= image_tag product.main_image.url(:medium) %>
                <p class="size3"><%= product.name %></p>
            <% end %>
          </div>
      <% end %>
    </section>
    <section class="autoplayproduct2 visible-xs">
      <% @products.each do |product| %>
          <div class="">
            <%= link_to product_path(product.id), :class => 'size2' do %>
                <%= image_tag product.main_image.url(:medium) %>
                <p class="size3"><%= product.name %></p>
            <% end %>
          </div>
      <% end %>
    </section>
  </div>
</div>