<div class="container-fluid">
<div class="row">

<div class="col-12 col-sm-2">
  <div class="block_seller">
    <%= image_tag @seller.avatar(:medium) %><br>
    <span><%= @seller.name %></span>
    <p><%= @seller.phone %></p>
    <p>Рейтинг: <span>15</span></p>
    <p>На сайте с <span>15.04.2018</span></p>
  </div>

</div>

    <div class="col-12 col-sm-8 text-center" id="search">
      <h4>Все товары продавца:</h4>
      <div class="d-flex align-content-center flex-wrap">
        <% @seller_pr.each do |product| %>

        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card_product">
            <%= link_to product_path(product), class:'size1' do %>
                <%= image_tag product.main_image.url(:medium), title: product.name, alt: product.name %>
                <p class="card_product_name"><%= product.name %></p>
                <p class="card_product_size"><%= product.size %></p>
                <p class="card_product_price"><%= product.price %> грн.</p>
            <% end %>
          </div>
        </div>

        <% end %>
      </div>
    </div>
    <div class="hidden-xs col-sm-2 text-center sld3">
        <p class="size4">Другие продавцы</p>
        <section class="autoplaydr">
        <% @sellers.each do | seller | %>
        <div class="card_product">
        <%= link_to seller_products_path(seller.id), :class => 'size1' do %>
        <%= image_tag seller.avatar(:medium) %>
        <p class=""><%= seller.name %></p>

        <% end %>
        </div>
        <% end %>
        </section>
    </div>
</div>
</div>


  <div class="productPanel">
    <h4 class="text-center">Популярные товары на сайте</h4>
    <section class="autoplayproduct">
      <% @products.each do |product| %>

            <%= link_to product_path(product), :class => 'oneProduct' do %>
                <%= image_tag product.main_image.url(:medium) %>
                <p class="slider_product_name"><%= product.name %></p>
            <% end %>

      <% end %>
    </section>
    <section class="autoplayproduct2 d-sm-none">
      <% @products.each do |product| %>
          <div class="">
            <%= link_to product_path(product), :class => 'oneProduct' do %>
                <%= image_tag product.main_image.url(:medium) %>
                <p class="slider_product_name"><%= product.name %></p>
            <% end %>
          </div>
      <% end %>
    </section>

</div>