<div class="container">
  <div class="row">
    <h4 class="text-center delo sh16">Редактирование данных <%= current_seller.name %> <%= current_seller.surname %></h4>
  </div>
</div>

<script>
    $(document).on('ready turbolinks:load', function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatarSeller').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });
</script>

<%= form_for(resource, as: resource_name, html: {"data-parsley-validate" => true, :method => :put}, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group ol-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Основное фото', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <ul class="sliderImg imgcat"> 
          <li><%= image_tag current_seller.avatar.url(:mini), title: "#{current_seller.name}", id: 'avatarSeller', class: "EditImage jcrop-tracker" %></li>
          <li><%= f.file_field :avatar, id: 'imgInp' %></li>
          <% unless current_seller.avatar_file_name.nil? %></li>
              <!-- class: "btn btn1 glyphicon glyphicon-trash"-->
            <li>
                <%= link_to("Удалить",{action: :delete_attachment, :controller => "sellers/registrations", id: current_seller.id}, method: :delete) %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>



    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label :email, class: "control-label form2" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.email_field :email, autofocus: true, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Имя', class: "control-label form2" %><br/>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :name, class: "form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Имя</span>".html_safe %>
      </div>
    </div>
 
    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Фамилия', class: "control-label form2" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :surname, class: "form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Фамилию</span>".html_safe %>
      </div>
    </div>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
        <div class="col-sm-2 ">
          <%= f.label 'Телефон', class:"control-label form2" %><br />
        </div>
        <div class="col-sm-10 ">
          <%= f.telephone_field :phone, class:"form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Телефон</span>".html_safe %>
        </div>
      </div>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Дата рождения', class: "control-label control-l form1" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :date_of_birth, class: "form-control form", id: "datepicker", 'data-no-turbolink' => true, "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Дату рождения</span>".html_safe %>
      </div>
    </div>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Область', class: "control-label form2" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.select(:city, Seller::CITY_TYPES, {prompt: 'Выберите область'}, class: "form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Выберите<span style='font-weight: bold;color:#5EBB5E;'>Свою область</span>".html_safe) %>
      </div>
    </div>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Промо код', class: "control-label control-l form2" %><br/>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :promo_code, class: "form-control form" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2">
        <%= f.label "Новый пароль", class: "control-label form2" %>
      </div>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "off", class: "form-control form " %>
        <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> знаков min</em>
        <% end %>
      </div>
    </div></br>


    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2">
        <%= f.label "Повторите пароль", class: "control-label form1" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form form2" %>
      </div>
    </div>

    <div class="form-group col-xs-offset-1 col-sm-offset-2">
      <div class="col-sm-2">
        <%= f.label "Текущий пароль", class: "control-label form1" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control form" %>
      </div>
    </div>

    <div class="actions col-xs-offset-2 col-sm-offset-4">
      <%= f.submit "Обновить", :class => 'btn btn2 form' %>
    </div>
<% end %>
<div class="actions col-xs-offset-2 col-sm-offset-4">
  <%= button_to "Удалить аккаунт", registration_path(resource_name), data: {confirm: "Вы уверены?"}, method: :delete, :class => 'btn btn1 text-center form' %>
  <div class="form">
    <%= link_to "Назад", :back, :class => 'btn btn4' %>
  </div>
</div>