<div class="container">

    <h4 class="text-center sh16">Регистрация</h4>

    <%= form_for(resource, as: resource_name, :html => {"data-parsley-validate" => true}, url: registration_path(resource_name)) do |f| %>
      <div class="container col-xs-offset-1 col-sm-offset-4 text-center"><%= devise_error_messages! %>
      </div>



        <div class="form-group col-md-offset-2">
          <div class=" col-sm-2 ">
            <%= f.label :email, class: "control-label form" %>
          </div>
          <div class="col-sm-10 ">
            <%= f.email_field :email, autofocus: true, class: "form-control form", "required" => true, "type" => "email", "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите свой <span style='font-weight: bold;color:#5EBB5E;'>Email</span>".html_safe %>
          </div>

        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'Имя', class: "control-label form" %><br/>
          </div>
          <div class="col-sm-10 ">
            <%= f.text_field :name, class: "form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Имя</span>".html_safe %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'Фамилия', class: "control-label form" %>
          </div>
          <div class="col-sm-10 ">
            <%= f.text_field :surname, class: "form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Фамилию</span>".html_safe %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'Дата рождения', class: "control-label control-l form" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :date_of_birth, class: "form-control form", id: "datepicker", 'data-no-turbolink' => true, "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Дату рождения</span>".html_safe %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'Телефон', class: "control-label form" %><br/>
          </div>
          <div class="col-sm-10 ">
            <%= f.telephone_field :phone, class: "form-control form", "required" => true, "type" => "phone", "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>Телефон</span>".html_safe %>
          </div>
        </div>


        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'Область', class: "control-label form" %>
          </div>
          <div class="col-sm-10 ">
            <%= f.select(:city, Seller::CITY_TYPES, {prompt: 'Выберите область'}, class: "form-control form", "required" => true, "data-parsley-trigger" => "change", "data-parsley-error-message" => "Выберите<span style='font-weight: bold;color:#5EBB5E;'>Свою область</span>".html_safe) %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'О себе', class: "control-label form" %><br/>
          </div>
          <div class="col-sm-10 ">
            <%= f.text_area :description, placeholder: 'Укажите ссылки, где продаете свои товары( вк, олх и др.)', class: "form-control form", "required" => true, "type" => "phone", "data-parsley-trigger" => "change", "data-parsley-error-message" => "Введите <span style='font-weight: bold;color:#5EBB5E;'>данные</span>".html_safe %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label 'Промо код', class: "control-label form control-l" %><br/>
          </div>
          <div class="col-sm-10 ">
            <%= f.text_field :promo_code, class: "form-control form" %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label :password, class: "control-label form control-l" %>
            <!--<% if @minimum_password_length %>-->
                <!--<em>(<%= @minimum_password_length %> min)</em>-->
            <!--<% end %>-->
          </div>
          <div class="col-sm-10 ">
            <%= f.password_field :password, placeholder: '6 знаков минимум', autocomplete: "off", class: "form-control form", "required" => true, "data-parsley-trigger" => "change", 'data-parsley-length' => '[5, 16]', "data-parsley-error-message" => "Пароль должен быть <span style='font-weight: bold;color:#5EBB5E;'>min 5 - max 16</span>".html_safe %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-2 ">
            <%= f.label "Повторите пароль", class: "control-label form control-l" %>
          </div>
          <div class="col-sm-10 ">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form", "required" => true, "data-parsley-trigger" => "change", 'data-parsley-length' => '[5, 16]', "data-parsley-error-message" => "Пароль должен быть <span style='font-weight: bold;color:#5EBB5E;'>min 5 - max 16</span>".html_safe %>
          </div>
        </div>

        <div class="form-group col-md-offset-2">
          <div class="col-sm-offset-2 col-sm-10 actions">
            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
          </div>
        </div>

    <% end %>



  <%= render "sellers/shared/links" %>
</div>