<div class="container">
  <div class="row">
  <h4 class="form_name">Ваши сообщения</h4>

  <ul class="dialogs">
    <% @dialogs.each do |dialog| %>
      <li>
      <%= link_to seller_dialogs_path(dialog.id) do%>
        <p><%= dialog.name %> | <%= dialog.surname %> | <%= dialog.product_name %><%= dialog.total_new(current_seller.id) %></p>
      <% end %>
      </li><br>
    <% end %>
  </ul>
  <!--<div class="col-xs-12">-->
    <!--<ul class="nav nav-tabs sh16" role="tablist">-->
      <!--<li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><p>Полученные сообщения</p></a></li>-->
      <!--<li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><p>Отправленные сообщения</p></a></li>-->

    <!--</ul>-->
    <!--&lt;!&ndash; Содержимое вкладок &ndash;&gt;-->
    <!--<div class="tab-content sh14 demo2">-->
      <!--<div role="tabpanel" class="tab-pane active" id="home"><p class="showProductDesc">Полученные сообщения</p>-->
      <!--</div>-->
      <!--<div role="tabpanel" class="tab-pane" id="profile">Отправленные сообщения</div>-->

    <!--</div>-->
  <!--</div>-->
  </div>
</div>

