<div class="container">
  <div class="row">
  <h4 class="form_name">Ваши сообщения</h4>

  <ul class="dialogs">
    <% @dialogs.each do |dialog| %>
      <li id="dialog_<%= dialog.id %>">
      <%= link_to seller_dialogs_path(dialog.id) do%>
        <p><%= dialog.name %> | <%= dialog.product_name %><%= dialog.total_new(current_seller.id, dialog.id) %></p>
      <% end %>
        <span dialog_id="<%= dialog.id %>" class="delDialog showModal">удалить</span>
      </li>
    <% end %>
  </ul>
  </div>
</div>

<div class="dm-overlay" id="win">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal">
        <span class="closeModal hideModal"></span>
        <h4>Внимание</h4>
        <p class="modalMessage">Вы уверины что хотите удалить данный диалог?</p>
        <p class="errorResponse" align="center"></p>
        <hr>
        <div class="wrapWinButton">
          <div class="rowWrap">
            <button type="button" class="deleteDialog btn btn-outline-danger btn-sm">да</button>
          </div>
          <div class="rowWrap">
            <button type="button" class="hideModal btn btn-outline-secondary btn-sm">нет</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #win h4, #win p{
    text-align: center;
  }

  #win h4{
    color: red;
  }

  #win .modalMessage{
    font-size: 20px;
  }

  #win .btn:hover{
    color: white !important;
  }
  #win .btn{
    margin: 0 !important;
  }

  .delDialog{
    cursor: pointer;
  }

  .delDialog:hover{
    text-decoration: underline;
    color: red;
  }

  .rowWrap{
    width: 100%;
    text-align: center;
  }

  .wrapWinButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .errorResponse{
    color: red;
    font-size: 14px;
  }
</style>