<script type="text/javascript">
    setTimeout(function(){$('.box').fadeOut(3000)},3000);
    setTimeout(function(){$('.box2').fadeOut(5000)},3000);
</script>
<div class="container box">
  <% if flash[:alert] %>
      <div class="alert alert-error" class="text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
      <div class="alert alert-success" class="text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
  <% end %>

</div>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-sm-12 ava hidden-xs hidden-sm">
  <%= image_tag current_seller.avatar, :class => 'img-responsive img-rounded' %>
  <%= current_seller.name %> <%= current_seller.surname %>
</div> -->
    <div class="col-sm-12">

      <div class="alert alert-info alert-dismissable box2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4 class="text-center sh16"><strong><%= current_seller.name %>  !  </strong>Товары добавляем только хорошего качества, и не каких реплик только оригиналы!!!</h4></div>
      <h3 class="name_title">Все товары</h3>
      <div class="table- responsive">
        <table class="table table-hover">
          <thead>
          <tr class="info">
            <th class="text-center">Фото</th>
            <th class="hidden-xs text-center">Название</th>
            <th class="hidden-xs text-center">Размер</th>
            <th class="hidden-xs text-center">ценник</th>
            <th class="hidden-xs text-center">Описание</th>
            <th class="hidden-xs text-center">Show</th>
          </tr>
          </thead>
          <tbody>
          <% current_seller.favorites.each do |product| %>
              <tr class="success imgtel text-center" id="product_<%= product.id %>">
                <td><%= image_tag product.main_image.url(:thumb) %></td>
                <td class="hidden-xs "><%= product.name %></td>
                <td class="hidden-xs"><%= product.size %></td>
                <td class="hidden-xs"><%= product.price %></td>
                <td class="hidden-xs "><%= product.description %></td>
                <td class="hidden-xs ">
                  <%= link_to ' ', product_path(product), :type => 'button', :class => ' btn btn2 glyphicon glyphicon-zoom-in' %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <div class="col-12 d-flex flex-wrap text-center">
          <% current_seller.favorites.each do |product| %>
             <div class="col-6 col-sm-4 col-md-4 col-lg-3">

                <div class="card_product" id="product_<%= product.id %>">
                  <%= link_to product_path(product), class: 'size1' do %>
                <%= image_tag product.main_image(:medium) %>
                <p class="card_product_name"><%= product.name %></p>
                <p class="card_product_size"><%= product.size %></p>
                <p class="card_product_price"><%= product.price %> грн.</p>

                  <% end %>
              </div>

              </div>
          <% end %>



        </div>

        <script type="text/javascript">

            $(function () {
                $('input[type=checkbox]').change(function () {
                    var check_id = $(this).attr('pr_id');
                    $.ajax({
                        url: '/seller_panel/product_visible',
                        type: 'POST',
                        data: $('#product_visible'+check_id).serialize()
                    });
                });
            });

        </script>
      </div>
      <div>
        <%= link_to 'Новый товар', new_product_path, :class => 'btn btn2 form' %>
      </div>
      <div>
        <%= link_to "На главную", root_path, :class => 'btn btn4 form' %>
      </div>
    </div>
  </div>
</div>
</div>