<div class="container">
  <% if flash[:alert] %>
      <div class="alert alert-error" class="text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
      <div class="alert alert-success" class="text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
  <% end %>

</div>
<center><%= link_to 'Новый товар', new_product_path %></center>
<%= current_seller.name %>
<ul>
  <% current_seller.products.each do |product| %>
      <li><%= product.name %><%= image_tag product.main_image %></li>
  <% end %>
</ul>