<p id="notice"><%= notice %></p>

<!-- центральное меню
 -->

<div class="container-fluid">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
    
    <menu class="fot">
      <% @product.product_slide_images.each do |slide| %>
          <li>
            <%= link_to(slide.image.to_s, class: 'gallery', rel: 'group') do %>
                <%= image_tag slide.image %>
            <% end %>
          </li>
      <% end %>
    </menu>
     
  </div>
  <div class="col-xs-12 col-sm-5 showproduct text-center">

    <p><%= image_tag(@product.main_image) %></p>


  </div> 
  <div class="col-xs-12 col-sm-5 showproduct showproduct2">
    <ul>
      <li><%= @product.name %></li>
      <li>СТОИМОСТЬ: <%= @product.price %> ГРН.</li>
      <li>РАЗМЕР: <%= @product.size %></li>
      <li>ОПИСАНИЕ: <%= @product.description %></li>
    </ul>



  </div>
  </div> 
</div> 

<!-- 
<%= link_to 'Редактировать', edit_product_path(@product.id.to_s+'-'+transtlit_name(@product.name)), :type => 'button', :class => 'btn btn3' %> -->
<%= link_to 'Назад', seller_panel_product_path, :type => 'button', :class => 'btn btn4' %>
<%= link_to "На главную", root_path, :class => 'btn btn4 form' %>

