<p id="notice"><%= notice %></p>

<!-- центральное меню
 -->

<div class="container-fluid">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">

    <menu class="fot">
      <% @product.product_slide_images.each do |slide| %>
          <li>
            <%= link_to(slide.image.to_s, class: 'gallery', rel: 'group') do %>
                <%= image_tag slide.image %>
            <% end %>
          </li>
      <% end %>
    </menu>
     
  </div>
  <div class="col-12 col-sm-10 ">

      <div class="d-flex showproduct">
        <div class="col-6 products_foto d-flex justify-content-center">
          <%= image_tag(@product.main_image(:medium)) %>
        </div>
        <div class="col-6 products_offer">
          <ul>
            <li ><span><%= @product.name %></span></li>
            <li >Стоимость: <%= @product.price %> ГРН.</li>
            <li >Размер: <span><%= @product.size %></span></li>
            <li >Качество товара: <span><%= @product.quality %></span></li>
            <li>Описание: <%= @product.description %></li>
          </ul>
        </div>
      </div>
      <div class="col-12 justify-content-md-center d-flex flex-column flex-md-row align-items-center">
        <div class="col-6">
          <%= link_to 'Назад', seller_panel_product_path, :type => 'button', :class => 'btn button_form' %>
          <%= link_to "На главную", root_path, :class => 'btn button_form' %>
        </div>
      </div>

  </div> 
</div> 

<!-- <%= link_to 'Редактировать', edit_product_path(@product.id.to_s+'-'+transtlit_name(@product.name)), :type => 'button', :class => 'btn button_form' %> -->