<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Название' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label 'Описание' %>
      <%= f.text_area :description %>
    </div>
    <h3>SEO</h3>
    <div class="field">
      <%= f.label 'Meta заголовок' %>
      <%= f.text_field :meta_title %>
    </div>
    <div class="field">
      <%= f.label 'Meta описание' %>
      <%= f.text_area :meta_desc %>
    </div>
    <div class="field">
      <%= f.label 'Meta ключи' %>
      <%= f.text_area :meta_key %>
    </div>

  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
