<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">

<div class="table-responsive">
  <table class="table table-hover">
  <caption><h1>Созданные категории</h1></caption>  
  <thead>
    <tr class="info">
      <th>Основное фото</th>
      <th>Название</th>
      <th>Перейти</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="success imgcat">
        <td><%= image_tag category.main_image.url %></td>
        <td><%= category.name %></td>
        <td><%= link_to 'Перейти', category %></td>
        <td><%= link_to 'Изменить', edit_category_path(category) %></td>
        <td><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<h1>Добавить новую категорию</h1>
<div class="container">
<div class="table-responsive">
  <%= nested_form_for(@cat, :html => {multipart: true}) do |f| %>
  <table class="table table-hover">
  <caption><h4>Категория первого уровня</h4></caption>  
  
    <tr class="info">
      <th>Название</th>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr class="info">
      <th>Основная картинка</th>
      <td>
      <%= f.file_field :main_image %>
    </td>
    </tr>

    <tr class="info">
      <th>Описание</th>
      <td>
      <%= f.text_area :description %>
    </td>
    </tr>

    <tr class="info">
      <th>Meta заголовок</th>
      <td>
      <%= f.text_field :meta_title %>
    </td>
    </tr>

    <tr class="info">
      <th>Meta описание</th>
      <td>
      <%= f.text_area :meta_desc %>
    </td>
    </tr>
    <tr class="info">
      <th>Meta ключи</th>
      <td>
      <%= f.text_area :meta_key %>
    </td>
    </tr>
    <tr>
      <th>Загрузить картинку для слайдера</th>
      <td>
      <%= f.fields_for :category_slide_images do |imgspec| %>
      <%= imgspec.file_field :image %>
      <%= imgspec.link_to_remove "Удалить" %>
      <% end %>
      <p><%= f.link_to_add "Добавить + ", :category_slide_images %></p>
      </td>
    </tr>
</table>




<%= f.fields_for :twocategories do |twocat| %>
<div class="col-sm-11">
<table class="col-sm-offset-1 col-sm-10 table table-hover">
  <caption><h4>Категория второго уровня</h4></caption>  
  
    <tr class="info">
      <th>Название</th>
      <td><%= twocat.text_field :name %></td>
    </tr>
    <tr class="info">
      <th>Описание</th>
      <td><%= twocat.text_area :description %></td>
    </tr>
    <tr class="info">
      <th>Meta заголовок</th>
      <td><%= twocat.text_field :meta_title %></td>
    </tr>
    <tr class="info">
      <th>Meta описание</th>
      <td><%= twocat.text_area :meta_desc %></td>
    </tr>
    <tr class="info">
      <th>Meta ключи</th>
      <td><%= twocat.text_area :meta_key %></td>
    </tr>
</table>
</div>
<button type="button" class="btn btn1"><%= twocat.link_to_remove "Удалить категорию второго уровня" %></button>
    
    <%= twocat.fields_for :threecategories do |threecat| %>
<div class="col-sm-10">
<table class="col-sm-offset-2 table table-hover">
  <caption><h4>Категория третьего уровня</h4></caption>
  <tr class="info">
      <th>Название</th>
      <td><%= threecat.text_field :name %></td>
    </tr>
    <tr class="info">
      <th>Описание</th>
      <td><%= threecat.text_field :description %></td>
    </tr>
    <tr class="info">
      <th>Meta заголовок</th>
      <td><%= threecat.text_field :meta_title %></td>
    </tr>
    <tr class="info">
      <th>Meta описание</th>
      <td><%= threecat.text_field :meta_desc %></td>
    </tr>
    <tr class="info">
      <th>Meta ключи</th>
      <td><%= threecat.text_field :meta_key %></td>
    </tr>
</table>
</div>
<button type="button" class="btn btn1"><%= threecat.link_to_remove "Удалить категорию третьего уровня" %></button>

       
    <% end %>

    <p><b><%= twocat.link_to_add "Добавить категорию третьего уровня", :threecategories, :style => 'color:green;' %></b></p>

<% end %>
<p><b><%= f.link_to_add "Добавить категорию второго уровня", :twocategories, :style => 'color:blue;' %></b></p>
<div class="actions">
<button type="submit" class="btn btn2">Создать категорию</button>
</div>
<% end %>
</div>
</div>
</div>
</div>