<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <%= image_tag category.main_image.url %>
        <td><%= link_to 'Перейти', category %></td>
        <td><%= link_to 'Изменить', edit_category_path(category) %></td>
        <td><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for([@category, Category.new], html: { multipart: true }) do |f| %>
    <div class="field">
      <%= f.label 'Название' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label 'Описание' %>
      <%= f.text_area :description %>
    </div>
    <h3>SEO</h3>
    <div class="field">
      <%= f.label 'Meta заголовок' %>
      <%= f.text_field :meta_title %>
    </div>
    <div class="field">
      <%= f.label 'Meta описание' %>
      <%= f.text_area :meta_desc %>
    </div>
    <div class="field">
      <%= f.label 'Meta ключи' %>
      <%= f.text_area :meta_key %>
    </div>

    <div class="field">
      <%= f.label 'Загрузить картинку' %>
      <%= f.file_field :main_image %>
    </div>

    <div class="actions">
      <%= f.submit 'Создать категорию' %>
    </div>
<% end %>