<p id="notice"><%= notice %></p>

<!-- центральное меню -->

<div class="container-fluid">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
    
    <menu class="fot">
    <% if @product.product_slide_images.present? %>

    <h4 class="text-center sh16">Другие фото этого товара</h4>
    <% @product.product_slide_images.each do |slide| %>
        <li>
        <%= link_to(slide.image.to_s, class: 'gallery', rel: 'group') do %>
        <%= image_tag slide.image.url(:medium) %>
        <% end %>
        </li>
    <% end %>

    <% else %>

    <div class="row ul1">
    <ul class="ul2 ">
    <p class="category"><%= @category.name %></p>
        <li class="li1">
        <% @category.twocategories.each do |twocategory | %>
        <p><%= twocategory.name %></p>
            <ul>
            <% twocategory.threecategories.each do | threecategory | %>
                <li class="li2">
                <p><%= link_to threecategory.name, showthreecat_path(@category.translit_url, twocategory.translit_url, threecategory.translit_url) %></p>
                </li>
            <% end %>
            </ul>
        <% end %>
        </li>
    </ul>
    </div>

    <% end %>

    </menu>
     
</div>
<div class="col-xs-12 col-sm-8 text-center showproduct">
<div class="formaul">
<ul class="sh14">
  <li><%= image_tag(@product.main_image(:medium)) %></li>
  <li class="sld"><%= @product.name %></li>
  <li>Стоимость: <span class="btn-custom"><%= @product.price %> ГРН.</span></li>
  <li>Размер: <span class="sld"><%= @product.size %></span></li>
  <li>Качество товара: <%= @product.quality %></li>
  <li>Описание: <%= @product.description %></li>
  <li>Продавец <%= @product.seller.name %></li>
  <li><a href="#demo1" class="size1" data-toggle="collapse" data-parent=".showproduct">Связаться с продавцом  <span class='btn-custom glyphicon glyphicon-earphone'></span></a>
    <div class="collapse" id="demo1">
    <p class="seller_phone"><%= @product.seller.phone %></p>
    </div>
  </li>
</ul>
</div>

<div class="container-fluid niz1">
  <div class="row">
    <h4 class="text-center sh16">Другие товары этого продавца</h4>
    <div class="col-xs-12 ">
      <div class="row">
        <section class="productseller">
          <% @product_sell.each do |product| %>
              <div class="">
                <%= link_to show_product_path(product.id.to_s+'-'+transtlit_name(product.name)), :class => 'size1' do %>
                    <%= image_tag product.main_image.url(:medium) %>
                    <p class="size2"><%= product.name %></p>
                <% end %>
              </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid niz1 visible-xs">
    <div class="row">
      <h4 class="text-center sh16">Подобные товары</h4>
      <div class="col-xs-12 ">
        <div class="row">
          <section class="productseller2">
            <% @products.each do |product| %>
                <div class="">
                  <%= link_to show_product_path(product.id.to_s+'-'+transtlit_name(product.name)), :class => 'size1' do %>
                      <%= image_tag product.main_image.url(:medium) %>
                      <p class="size3 sld"><%= product.name %></p>
                  <% end %>
                </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>

  </div> 
  <div class="hidden-xs col-sm-2 glf">
    <div class="row">
      <p class="size4">Подобные товары</p>
      <!--<h4 class="text-center">Другие товары этого продавца</h4>-->
      <section class="autoplay">
        <% @products.each do |product| %>
            <div class="fone">
              <%= link_to show_product_path(product.id.to_s+'-'+transtlit_name(product.name)), :class => 'size1' do %>
                  <%= image_tag product.main_image.url(:medium) %>
                  <p class="size3 sld"><%= product.name %></p>
              <% end %>
            </div>
        <% end %>
      </section>

      <p class="size4">Лучшие продавцы</p>
      <section class="autoplay">
        <% @sellers.each do | seller | %>
            <div class="fone">
              <%= link_to seller_products_path(seller.id), :class => 'size1' do %>
                  <%= image_tag seller.avatar(:medium) %>
                  <p class="size3 sld"><%= seller.name %></p>
              <% end %>
            </div>
        <% end %>
      </section>
    </div>
  </div>
  </div> 
</div> 

<!-- 
<%= link_to 'Редактировать', edit_product_path(@product.id.to_s+'-'+transtlit_name(@product.name)), :type => 'button', :class => 'btn btn3' %>
<%= link_to 'Назад', seller_panel_product_path, :type => 'button', :class => 'btn btn4' %>
<%= link_to "На главную", root_path, :class => 'btn btn4 form' %>-->

