<p id="notice"><%= notice %></p>

<div class="container-fluid">
<div class="row">

  <div class="d-none d-md-block col-2 col-md-2">

  <menu class="fot">
  <% if @product.product_slide_images.present? %>

  <h4 class="text-center sh16">Фото товара</h4>
  <% @product.product_slide_images.each do |slide| %>
  <li>
  <%= link_to(slide.image.to_s, class: 'gallery', rel: 'group') do %>
  <%= image_tag slide.image.url(:medium) %>
  <% end %>
  </li>
  <% end %>

  <% else %>

  <!--<div class="row ul1">-->
  <!--<ul class="ul2 ">-->
  <!--<p class="category"><%= @category.name %></p>-->
  <!--<li class="li1">-->
  <!--<% @category.twocategories.each do |twocategory | %>-->
  <!--<p><%= twocategory.name %></p>-->
  <!--<ul>-->
  <!--<% twocategory.threecategories.each do | threecategory | %>-->
  <!--<li class="li2">-->
  <!--<p><%= link_to threecategory.name, showthreecat_path(@category.translit_url, twocategory.translit_url, threecategory.translit_url) %></p>-->
  <!--</li>-->
  <!--<% end %>-->
  <!--</ul>-->
  <!--<% end %>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->

  <% end %>

  </menu>

  </div>

  <div class="col-12 col-md-10 col-lg-8">
    <div class="d-block d-sm-flex">
      <div class="col-12 col-sm-6 products_foto d-flex justify-content-center">
        <div class="wrapImgProdShow">
          <%= image_tag(@product.main_image(:medium)) %>
          <% if ! seller_signed_in?  %>
              <%= link_to new_seller_session_path(continue: product_path(@product)) do %>
                  <%= image_tag '/favorite_yellow.svg', class: 'favItem', title: 'Добавить в избранное'%>
              <% end %>
          <% elsif @product.favorite? current_seller.id%>
              <%= image_tag '/favorite_red.svg', class: 'favItem favImg', title: 'Удалить из избранного', onclick: "removeToFavorite(#{@product.id})" %>
          <% else %>
              <%= image_tag '/favorite_yellow.svg', class: 'favItem favImg', title: 'Добавить в избранное', onclick: "addToFavorite(#{@product.id})" %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 products_offer">
        <ul>
          <li ><span><%= @product.name %></span></li>
          <li >Стоимость: <%= @product.price %> ГРН.</li>
          <li >Размер: <span><%= @product.size %></span></li>
          <li >Качество товара: <span><%= @product.quality %></span><%= image_tag 'like1.png', class: 'like' %><%= image_tag 'like2.png', class: 'like' %></li>
        </ul>
      </div>
    </div>
      <div class="col-12 products_description">
        <p>Описание: <%= @product.description %></p>
      </div>
      <div class="col-12 products_call">
        <p>Понравился товар, обращайтесь:</p>
        <ul>
          <li class="sellerButton">Продавец <span><%= @product.seller.name %></span> <a href="#demo1" class="size1" data-toggle="collapse" data-parent=".showproduct">
              <span class='button_send'>Связаться:</span>
            </a>
            <div class="collapse" id="demo1">
              <p>Позвонить <br> <%= @product.seller.phone %></p>
              <p>
              <%= link_to seller_products_path(@seller.id) do %>
                  <span class="button_send">Перейти</span>
              <% end %>
                на страницу продавца</p>
              <% if seller_signed_in? %>
                  <% if current_seller.id == @product.seller_id %>
                      <p>Этот товар добавили Вы!</p>
                  <% else %>
                      <p>Написать сообщение</p>
                    <%= form_tag(sent_message_products_path, remote: true, method: :post) do %>
                      <%= hidden_field_tag 'recipient_id', @product.seller.id %>
                      <%= hidden_field_tag 'product_id', @product.id %>
                      <%= text_area_tag 'body' %><br>
                      <%= submit_tag "Отправить", class: "btn button_send" %>
                    <% end %>
                  <% end %>
              <% else %>
                  <p class="messageLinkUser">Чтобы оставить сообщение продавцу, нужно <%= link_to 'Войти', new_seller_session_path, class: "btn button_form " %> или
                    <%= link_to 'Зарегистрироваться', new_seller_registration_path, class: "btn button_form " %></p>
              <% end %>
            </div>
          </li>
        </ul>
      </div>



<div class="productPanel">
<h4 class="text-center">Другие товары этого продавца</h4>
  <section class="productseller">

  <% @product_sell.each do |product| %>

  <%= link_to product_path(product), :class => 'oneProduct' do %>
  <%= image_tag product.main_image.url(:medium) %>

    <p class="slider_product_name"><%= product.name %></p>

  <% end %>

  <% end %>

  </section>
</div>
  </div>


  <div class="d-none d-lg-block col-lg-2 glf">
      <!-- слайдер для рекламы-товара -->

    <p class="slider_title">Подобные товары</p>
    <section class="home_slider_product">
      <% @products.each do |product| %>

          <%= link_to product_path(product), :class => 'slider_product_block' do %>
              <%= image_tag product.main_image.url(:medium) %>
              <p class="slider_product_name"><%= product.name %></p>
          <% end %>

      <% end %>
    </section>

    <p class="slider_title">Лучшие продавцы</p>
    <section class="home_slider_product">
      <% @sellers.each do | seller | %>
          <div class="fone">
            <%= link_to seller_products_path(seller.id) do %>
                <%= image_tag seller.avatar(:medium) %>
                <p class="slider_product_name"><%= seller.name %></p>
            <% end %>
          </div>
      <% end %>
    </section>

  </div>

</div>
</div> 


