<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 col-sm-4">
<div class="ul1">
<ul class="ul2">
  <% @categories.each do |category| %>
      <li class="li1">
        <%= category.name %>
        <ul >
          <% category.twocategories.each do |twocategory| %>
              <li class="li2">
                <%= twocategory.name %>
                <ul>
                  <% twocategory.threecategories.each do |threecategory| %>
                      <li class="li3 imgcat three">
                      <p class="col-sm-4"><%= image_tag threecategory.image.url %></p>
                      <p class="col-sm-4"><%= threecategory.name %></p>
                      <p class="col-sm-4"><%= link_to 'Изменить', edit_threecategory_path(threecategory), :type => 'button', :class => 'btn btn3' %></p></li>
                  <% end %>
                </ul>
              </li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>
</div>







	</div>  

</div>
</div>









<!-- 
    <h1>Twocategories#index</h1>
<p>Find me in app/views/twocategories/index.html.erb</p>
<% @threecategory.each do |threecategory| %>
  <p><%= threecategory.name %></p>
<% end %> -->



<!--        <div id="MainMenu">
        <menu class="list-group panel">
        <% @twocategories.each do |twocategory| %>
        <li><a href="#demo5" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><%= twocategory.name %><i class="fa fa-caret-down"></i></a>
        <div class="collapse in" id="demo5">
        <% twocategory.threecategories.each do |threecategory| %>
        <label class="list-group-item"><%= threecategory.name %></label>
        <% end %>
        <% end %>
        </div>
        </li>
        </menu>
        </div> -->