
<ul>
<% @categories.each do |category| %>
	<li><%= category.name %></li>
	<% @twocategories.each do |twocategory| %>
	<li><ul>

		<li><%= twocategory.name %></li>
<% twocategory.threecategories.each do |threecategory| %>
		<li><ul>
			
			<li><%= threecategory.name %></li>
			

			</ul>
<% end %>
		</li>


		</ul>
<% end %>
	</li>
<% end %>

</ul>


<!-- 
<div>

<% @categories.each do |category| %>

<%= category.name %>

<% @twocategories.each do |twocategory| %>
<%= twocategory.name %>
	    
<% twocategory.threecategories.each do |threecategory| %>

<%= threecategory.name %>

<% end %>
<% end %>
<% end %>
</div> -->



<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 col-sm-3 ">
	    <div id="MainMenu">
	    <menu class="list-group panel">
	    <% @twocategories.each do |twocategory| %>
	    <li><a href="#demo5" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><%= twocategory.name %><i class="fa fa-caret-down"></i></a>
	    <div class="collapse in" id="demo5">
	    <% twocategory.threecategories.each do |threecategory| %>
		<label class="list-group-item"><%= threecategory.name %></label>
		<% end %>
	    <% end %>
	    </div>
	    </li>
	    </menu>
	    </div>
	</div>  
  	<div class="col-xs-12 col-sm-9 ">
        <div class="row">
        <% @products.each do |product| %>
        <div class="col-lg-4 text-center">
        <%= image_tag product.main_image %>
        <div>
        <p ><%= product.name %><p>
        </p><%= product.price %></p>
        </div>
        </div>
        <% end %> 
        </div>
        <div class="container-fluid niz1">
		<div class="row">
		<h2 class="text-center">Другие категории</h2>
		<div class="col-xs-12 ">
		<div class="row">
		<section class="auto">
		<% @sellers.each do | seller | %>
		<div>
		<%= image_tag seller.avatar(:medium) %>
		<div class="sld1 text-center"><p ><%= seller.name %></p></div>
		</div>
		<% end %>
		</section>
		</div>
		</div>
		<h2 class="text-center">Товары лучших продавцов</h2>
		<div class="col-xs-12 ">
		<div class="row">
		<section class="auto">
		<% @sellers.each do | seller | %>
		<div>
		<%= image_tag seller.avatar(:medium) %>
		<div class="sld1 text-center"><p ><%= seller.name %></p></div>
		</div>
		<% end %>
		</section>
		</div>
		</div>  
		</div>
		</div>
	</div>
</div>
</div>









<!-- 
    <h1>Twocategories#index</h1>
<p>Find me in app/views/twocategories/index.html.erb</p>
<% @threecategory.each do |threecategory| %>
  <p><%= threecategory.name %></p>
<% end %> -->