<div class="container-fluid">
<div class="row">
    <div class="hidden-sm hidden-xs col-sm-3 ">
    <div class="ul1">
      <ul class="ul2 ">
      <li class="li1">
      <% @cater.twocategories.each do |twocategory | %>
      <p><%= twocategory.name %></p>
      <ul>
      <% twocategory.threecategories.each do | threecategory | %>
      <li class="li2">
      <p><%= link_to threecategory.name, threecategory_path( threecategory.id) %></p>
      </li>
      <% end %>
      </ul>
      <% end %> 
      </li>
      </ul>
      
    </div> 
    </div>   
    <div class="col-sm-12 col-md-9">
      <div class="text-center">
        <% @threecategory.products.each do |product| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 product">
        <div class="row size1">

        <%= link_to product_path(product.id) do %>
   


        <%= image_tag product.main_image %>
        <div>
        <p class="size">Размер <%= product.size %><p>
        </p><%= product.price %> грн.</p>
        </div>

<% end %>

        </div>
        </div>
        <% end %> 
      </div>

    </div>
</div>
</div>
<div class="container-fluid niz1">
  <div class="row">
  <h2 class="text-center">Другие категории</h2>
  <div class="col-xs-12 ">
  <div class="row">
  <section class="auto">
  <% @sellers.each do | seller | %>
  <div>
  <%= image_tag seller.avatar(:medium) %>
  <div class="sld1 text-center"><p ><%= seller.name %></p></div>
  </div>
  <% end %>
  </section>
  </div>
  </div>
  <h2 class="text-center">Товары лучших продавцов</h2>
  <div class="col-xs-12 ">
  <div class="row">
  <section class="auto">
  <% @sellers.each do | seller | %>
  <div>
  <%= image_tag seller.avatar(:medium) %>
  <div class="sld1 text-center"><p ><%= seller.name %></p></div>
  </div>
  <% end %>
  </section>
  </div>
  </div>  
  </div>
</div>







