<!DOCTYPE html>
<html>
  <head>
    <title>Sh</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/bootstrap/css/bootstrap.css' %>
    <%= stylesheet_link_tag    '/slick/css/slick.css' %>
    <%= stylesheet_link_tag    '/slick/css/slick-theme.css' %>
    <%= stylesheet_link_tag    '/fancybox/source/jquery.fancybox.css' %>
    <%= stylesheet_link_tag    '//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>
    <%= stylesheet_link_tag    '/parsley/parsley.css' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/bootstrap/js/bootstrap.js' %>
    <%= javascript_include_tag '/slick/js/slick.js' %>
    <%= javascript_include_tag '/fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %>
    <%= javascript_include_tag '/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %>
    <%= javascript_include_tag '/parsley/parsley.min.js'%>
    
    <script>
      $(document).on('ready turbolinks:load', function(){
        $('#form').parsley();
    });
    </script>
    <script>
    var d = new Date(90,0,1);
    $(document).on('ready turbolinks:load', function(){
    $( "#datepicker" ).datepicker({
        defaultDate:d, //set the default date to Jan 1st 1990
        changeMonth: true,
        changeYear: true,
        yearRange: '1966:2000', //set the range of years
        dateFormat: 'dd-mm-yy', //set the format of the date

      });
      $.datepicker.regional['ru'] = {
      closeText: 'Закрыть',
      prevText: '&#x3c;Пред',
      nextText: 'След&#x3e;',
      currentText: 'Сегодня',
      monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
      'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
      monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
      'Июл','Авг','Сен','Окт','Ноя','Дек'],
      dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
      dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
      dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
      dateFormat: 'dd.mm.yy',
      firstDay: 1,
      isRTL: false
      };
      $.datepicker.setDefaults($.datepicker.regional['ru']);

      $('input.datepicker').datepicker({
      showOn: 'both',
      buttonImageOnly: true,
      buttonImage: '/images/026.png'
      });
    });
    </script>
  </head>

  <body>
<h1><%= current_rootadmin.name if rootadmin_signed_in? %></h1>
    <header>
      <!-- меню11 -->

        <div class="navbar navbar-inverse navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                <span class="sr-only">open</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand brand visible-xs" href="/">Магазин стоковой одежды</a>
            </div>
            <div class="collapse navbar-collapse " id="responsive-menu">
              <ul class="nav navbar-nav tmenu">
                <li><a href="/">Главная</a></li>
                <li><a href="/categories">categories <!-- Новости сайта --></a></li>
                <li><a href="/products">products <!-- VIP-Статус --></a></li>
                <li><a href="/all">О нас</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a type="button" id="drop001" role="button" class="dropdown-toggle navbar-brand tmenu" data-toggle="dropdown" href="#"><%= seller_signed_in? ? 'Личный кабинет' : 'Войти' %><b class="caret"></b></a>
                  <ul class="dropdown-menu " role="menu" aria-labelledby="drop001">
                    <% if seller_signed_in? %>
                        <li><%= link_to 'Редактировать данные', edit_seller_registration_path(current_seller.id) %></li>
                        <li><%= link_to 'Мои товары', seller_panel_product_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to('Выйти', destroy_seller_session_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>
                    <% else %>
                        <li><%= link_to('Войти', new_seller_session_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>
                        <li class="divider"></li>
                        <li><%= link_to('Регистрация', new_seller_registration_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </header>
    <!-- основное меню  -->
<header>
  <div class="navbar navbar-default smenu">
    <div class="container">
      <div class="row">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu1">
            <span class="sr-only">open</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand visible-xs" href="/">МЕНЮ</a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu1">

          <ul class="nav navbar-nav">

            <% @catmenu.each do |category| %>
                <li class="dropdown">
                  <a type="button" id="<%= category.id %>" role="button" class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#"><%= category.name %>
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop001">
                    <% category.twocategories.each do |twocategory| %>
                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#"><%= twocategory.name %></a>
                          <ul class="dropdown-menu">
                            <% twocategory.threecategories.each do |threecategory| %>
                                <li><a tabindex="-1" href="#"><%= threecategory.name %></a></li>
                            <% end %>
                          </ul>
                        </li>
                    <% end %>
                  </ul>
                </li>
            <% end %>

            <li>
              <form class="navbar-form navbar-left hidden-sm hidden-xs" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Поиск">
                </div>
                <button type="submit" class="btn btn-default">Найти</button>
              </form>
            </li>
            <li><a class="navbar-brand brand hidden-xs" href="/">Магазин стоковой одежды</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>

    <%= yield %>

    <!-- footer -->
    <div class="tofooter"></div>
    <footer class="navbar navbar-inverse navbar-default " id="footer">
    
      
        <div class="container ">
          <div class="row">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive">
              <span class="sr-only">open</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse tmenu1" id="responsive">
            <ul class="nav navbar-nav">
              <li><a href="#">рейтинг продавцов</a></li>
              <li><a href="#">популярные товары</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://labsites.org" target="_blank">сайт разработан labsites.org</a></li>
            </ul>
          </div>
        </div>
     
    </footer>

  </body>
</html>
