<!DOCTYPE html>
<html>
<head>
    <title>Stockmarket.com.ua</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/bootstrap/css/bootstrap.css' %>
    <%= stylesheet_link_tag    '/slick/css/slick.css' %>
    <%= stylesheet_link_tag    '/slick/css/slick-theme.css' %>
    <%= stylesheet_link_tag    '/fancybox/source/jquery.fancybox.css' %>
    <%= stylesheet_link_tag    '/parsley/parsley.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/bootstrap/js/bootstrap.js' %>
    <%= javascript_include_tag '/slick/js/slick.js' %>
    <%= javascript_include_tag '/fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %>
    <%= javascript_include_tag '/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag '/parsley/parsley.min.js'%>

</head>
<body>
<header>
<div class="navbar navbar-inverse navbar-default navbar-static-top">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
        <span class="sr-only">open</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand visible-xs logo" href="/"><%= image_tag '001.png', class:'visible-xs' %></a>
    </div>
    <div class="collapse navbar-collapse " id="responsive-menu">
    <ul class="nav navbar-nav tmenu">
    <a class="logo " href="/"><%= image_tag '001.png', class:'hidden-xs hidden-sm' %><%= image_tag 'logo2.png', class:'visible-sm' %></a>
        <li class="menuonas"><a href="/about">О нас</a></li>
        <!--<li><a href="/categories">Новоcти</a></li>-->
        <li class="hidden-xs"><a href="/vip">VIP-Статус</a></li>
        <li class="hidden-xs">
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a type="button" id="drop01" role="button" class="dropdown-toggle navbar-brand tmenu"
          data-toggle="dropdown" href="#">
          Помощь
          <b class="caret"></b></a>
          <ul class="dropdown-menu " role="menu" aria-labelledby="drop01">
            <li class="vk2"><a href="/feedback" >
               <%= image_tag 'pismo.jpg', class: 'vk' %><span class="vk3">отправить E-mail</span></a>
            </li>
            <li class="vk2"><a href="https://vk.com/im?media=&sel=-126921609" target="_blank">

              <%= image_tag 'VK.png', class: 'vk' %><span class="vk3">сообщение ВК</span></a>
            </li>
          </ul>
          </li>
          </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a type="button" id="drop001" role="button" class="dropdown-toggle navbar-brand tmenu"
        data-toggle="dropdown" href="#">
        <% if seller_signed_in? %>
        <%= image_tag current_seller.avatar.url(:medium), class: 'fotoava', alt: current_seller.name %>
        <%= current_seller.name %>
        <% else %>
        Личный кабинет
        <% end %>
        <b class="caret"></b></a>
            <ul class="dropdown-menu " role="menu" aria-labelledby="drop001">
            <% if seller_signed_in? %>

                <li><%= link_to 'Редактировать данные', edit_seller_registration_path %></li>
                <li><%= link_to 'Мои товары', seller_panel_product_path %></li>
                <li><%= link_to 'Мой VIP-Статус', seller_panel_vipstatus_path %></li>
                <li class="divider"></li>
                <li><%= link_to('Выйти', destroy_seller_session_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>

                <% else %>

                <li><%= link_to('Войти', new_seller_session_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>
                <li class="divider"></li>
                <li><%= link_to('Регистрация', new_seller_registration_path, {:class => 'xsmenu', :tabindex => '-1'}) %></li>

            <% end %>

            </ul>
        </li>
    </ul>
    </div>
</div>
</div>
</header>
<header>
<div class="navbar navbar-default smenu">
    <div class="container">
    <div class="row">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu1">
        <span class="sr-only">open</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand visible-xs " href="#">Разделы сайта</a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu1">
        <ul class="nav navbar-nav dropdown1">

            <% @catmenu.each do |category| %>
            <li class="dropdown ">
            <%= link_to showcat_path(category.translit_url), type: "button", id: category.id, role: "button",
            class: "dropdown-toggle navbar-brand ", data_toggle: "dropdown" do %>
            <%= category.name %>
            <b class="caret"></b>
            <% end %>

                <ul class="dropdown-menu" role="menu" aria-labelledby="<%= category.id %>">
                <% category.twocategories.each do |twocategory| %>
                    <li class="dropdown-submenu">
                    <%= link_to twocategory.name, showtwocat_path(twocategory.category.translit_url, twocategory.translit_url), tabindex: "-1" %>
                        <ul class="dropdown-menu">
                        <% twocategory.threecategories.each do |threecategory| %>
                            <li><!-- <a tabindex="-1" href="/threecategories"><%= threecategory.name %></a> -->
                            <%= link_to threecategory.name, showthreecat_path( twocategory.category.translit_url, twocategory.translit_url, threecategory.translit_url) %>

                            </li>

                        <% end %>

                        </ul>
                    </li>

                <% end %>

                </ul>
            </li>

            <% end %>

            <li class="hidden-xs">
                <%= form_tag({:controller => "/search", :action => "result"}, method: "get", class: "navbar-form navbar-left", "role" => "search") do %>
                <div class="form-group">
                <%= text_field_tag(:q, nil, placeholder: "Поиск товара", class: "form-control searchInput") %>
                </div>
                <%= button_tag 'Найти', class: 'btn btn-default' %>

                <% end %>
            </li>
          <li>
            <p class="text-vk hidden-xs hidden-sm sh14">Наша группа в ВК:</p>
            <p class="text-vk visible-sm sh14">Мы в ВК:</p>
            <li class="vk hidden-xs"><a href="https://vk.com/ukrstock" target="_blank" >
              <%= image_tag 'VK.png', class: 'vk' %></a>
            </li>
        </ul>
        </div>
    </div>
    </div>
</div>
</header>

    <%= yield %>

    <!-- footer -->
<div class="tofooter">
  <!--<% if rootadmin_signed_in? %>-->
          <!--<li><%= link_to 'Выход АДМИН',  destroy_rootadmin_session_path %></li>-->

          <!--<% else %>-->

          <!--<li><%= link_to 'Вход АДМИН',  new_rootadmin_session_path %></li>-->

          <!--<% end %>-->

</div>
<footer class="navbar navbar-inverse" id="footer">
    <div class="container-fluid text-center">
        <div class="col-xs-12 col-sm-6">
        <p class="tmenu3 sh16 ">Stockmarket.com.ua © 2017</p>
        </div>
        <div class="hidden-xs col-sm-6">
        <p class="tmenu3 sh16">Сайт разработан<a href="http://labsites.org/en/" target="_blank"> Labsites.org</a></p>
        </div>
    </div>
</footer>
</body>
</html>